<div class="col-md-4">
  <div class="card" data-id="<%= portfolio_item.id  %>">
    <% thumb = image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), height: '200', width: '350' %>
    <%= link_to thumb, portfolio_show_path(portfolio_item)   %>
    <p class="card-text">
      <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> <%= portfolio_item.subtitle %>
    </p>
  </div>
</div>