<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Marcos Scorzoni", root_path, class: 'nav-link nav-owner' %>
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>


