<div class="app-card-container">
  <div class="card transparent">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "https://avatars2.githubusercontent.com/u/16489757?s=400&u=c62c9ca6fac332fd8a8d9ce72f349532522dd819&v=4", width: 300, alt: 'profile image', id: 'profile-image' %>
      </div>
      <div class="col-md-8">
        <p>My description</p>    
      </div>  
    </div>
  </div>  
</div>
